/*****colors**/
$BORDER: #0000001f;
$FOOTER_BACKGROUND: #484848;
$BACKGROUND: #f5f5f5;
$RED: #ff5a5f;
$buttonFontColor: #fff;
$MID_GREY: #767676;
$AppBG: hsla(210, 79%, 46%, 0.1);
$font: rgba(0, 11, 41, 0.87);






